@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 4rem;
}

#containerDisplayAndGrid {
    background-color: rgb(207, 207, 207);
    padding: 2rem;
    margin-top: 8rem;
    border-radius: 2rem;
    border-width: 0.125rem;
    border-style: solid;
    border-color: rgb(66, 66, 66);
    box-shadow: 4px 4px 0px 0px  rgb(66, 66, 66); 
    width: 400px;
    min-width: 400px;
}

#display {
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: right;
    color: rgb(66, 66, 66);
    font-size: 2.5rem;
    font-weight: 500;
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 0.125rem;
    border-style: solid;
    border-color: rgb(66, 66, 66);
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
}


/* buttons: */
#gridContainer {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, auto [col]);
    grid-template-rows: repeat(5, 5rem [col]);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

button {
    font-family: 'Roboto Mono', monospace;
    color: rgb(66, 66, 66);
    font-size: 1.5rem;
    font-weight: 500;
    border-style: solid;
    border-color: rgb(66, 66, 66);
    border-radius: 0.5rem;
    border-width: 0.125rem;
    box-shadow: inset -2px -2px 0px 0px  rgb(66, 66, 66); 
    cursor: pointer;
}

button:active {
    box-shadow: inset 1px 1px 0px 0px  rgb(66, 66, 66); 
}

#btnAllClear,
#btnDelete {
    grid-column:span 2;
}

/* buttons hover effects: */
.btnNumbers {
    background-color: rgb(245, 245, 245);
} 

.btnNumbers:hover {
    background-color: rgba(245, 245, 245, 0.7);
}

.btnOperators {
    background-color: rgb(156, 241, 200);
}

.btnOperators:hover {
    background-color: rgba(156, 241, 200, 0.7);
}

#btnEquals {
    background-color: rgb(185, 233, 238);
}

#btnEquals:hover {
    background-color: rgba(185, 233, 238, 0.7);
}

#btnAllClear {
    background-color: rgb(247, 149, 136);
}

#btnAllClear:hover {
    background-color: rgba(247, 149, 136, 0.7);
}

#btnDelete {
    background-color: rgb(248, 209, 131);    
}

#btnDelete:hover {
    background-color: rgba(248, 209, 131, 0.7);    
}

/* Footer */
#footer {
    justify-self: flex-end;
    color: rgb(66, 66, 66);
    font-size: 1rem;
    font-weight: 500;
    margin: 0 auto 1rem;
}

a {
    color: rgb(66, 66, 66);
    text-decoration: none;
}